/**
* all the css about the slide will be here
**/
.slide-container{
	height:500px;
	overflow:hidden;
    white-space:nowrap;
    
    .slide{
	   height:100%;
	   width:300px;
	   border:solid 1px gray;
	   margin-right:20px;
	   display:inline-block;
	   background-color:green;
	   &.transparency{
	      opacity:0.5; 
	   }
	   &.ng-hide{
	      display:none;
	   }
	}
}