<!doctype html>
<html>
<head>
   <title>slider class</title>
   <link rel="stylesheet" type="text/css" href="slide.css">
</head>
<body ng-app="slide" ng-controller="myApp">

<h1>Slide Demo</h1>	

<div class="slide-container">
     <div class="slide">
     	1
        <button ng-click="showNext(2)">next</button>
     </div>
     <div class="slide" ng-show="showSlide2">
     	2

     	<button ng-click="showNext(3)">next</button>

     </div>
     <div class="slide" ng-show="showSlide3">
     	3
     	<button ng-click="showNext(4)">next</button>
     </div>
     <div class="slide" ng-show="showSlide4">
     	4
     	<button ng-click="showNext(3)">pre</button>
     	<button ng-click="showNext(5)">next</button>

     </div>
     <div class="slide" ng-show="showSlide5">
     	5
     	<button ng-click="showNext(4)">pre</button>
     	<button ng-click="showNext(6)">next</button>
     </div>
     <div class="slide" ng-show="showSlide6">
     	6
     	<button ng-click="showNext(5)">pre</button>
        <button ng-click="showNext(7)">next</button>
     </div>
     <div class="slide" ng-show="showSlide7">
     	7
     	<button ng-click="showNext(6)">pre</button>
     </div>
</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="slide.js"></script>

<script type="text/javascript">
   
   var myslider = new slider({container:".slide-container",slideMarginRight:20,slideWidth:300,slideBorderWidth:1,siteMiddleContainerWidth:800,animationDuration:500});

   var app = angular.module("slide",[]);
   app.controller("myApp",function($scope){
       
       $scope.showSlide2=false;
       $scope.showSlide3=false;
       $scope.showSlide4=false;
       $scope.showSlide5=false;
       $scope.showSlide6=false;
       $scope.showSlide7=false;

       $scope.showNext=function(slideNumber){
           var slideVar = "showSlide"+slideNumber;
           $scope[slideVar]=true;
           myslider.scrollToSlide(slideNumber);
       }
   });


  
</script>
</body>
</html>